.hel{
    border: solid;
    margin-left: 100px;
    margin-right: 100px;
}
.hell{
    border: solid red;
}
.helll{
    border:solid;
    margin-left: 100px;
}
.hellll{
    border: solid;
    margin-right: 100px;
    
}